<script src="/Scripts/AdminGame/HomePage.js"></script>
<div>
    <button id="btn-create-game" class="btn btn-primary" data-bind="click: createGame">Создать новую игру</button>
</div>

<table border="1">
    <caption>Предстоящие игры</caption>
    <tr>
        <th>Название</th>
        <th>Дата начала</th>
    </tr>

    @{
        foreach (var tableRow in ViewBag.TableRows)
        {
            @Html.Raw(tableRow)
        }
    }

</table>

<script>
    loadPage();
</script>