<script src="/Scripts/AdminGame/ViewGamePage.js"></script>
<style>
    #page-content > div {
        margin: 10px;
    }

    input {
        margin-left: 10px;
        min-width: 600px;
    }

    textarea {
        width: 100%;
    }
</style>
<div>
    @*TODO Сделать добавление авторов*@
</div>

<div>
    <span>Название игры</span>
    <input type="text" class="form-control" placeholder="Название игры" data-bind="value: nameGame" />
</div>

<div>
    <span>Последовательность</span>
    <input type="text" class="form-control" placeholder="Последовательность" data-bind="value: sequence" />
</div>

<div>
    <span>Пробег</span>
    <input type="text" class="form-control" placeholder="Пробег" data-bind="value: distance" />
</div>

<div>
    <span>Начало игры</span>
    <input type="datetime-local" class="form-control" data-bind="value: startGame">
</div>

<div>
    <span>Окончание игры</span>
    <input type="datetime-local" class="form-control" data-bind="value: endGame">
</div>

<div>
    <span>Информация по игре от авторов</span>
    <div>
        <textarea rows="12" data-bind="value: infoContent" class="form-control"></textarea>
    </div>
</div>

<div>
    <button id="btn-save" class="btn btn-success btn-block" data-bind="click: save">Сохранить изменения</button>
</div>

<table border="1">
    <tr>
        <th>Номер</th>
        <th>Название</th>
        <th>Действие</th>
    </tr>
    @{
        foreach (var tableRow in ViewBag.TableRows)
        {
            @Html.Raw(tableRow)
        }
    }
</table>

<div class="btn-group">
    <button data-bind="click: createLvl" class="btn btn-primary">Добавить</button>
    <button data-bind="click: removeLvl" class="btn btn-danger">Удалить</button>
</div>


<script>
    window.currentGameId = @ViewBag.Id;
    loadPage();
    loadContent();
</script>