
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ViewLevelPage</title>

    <script src="/Scripts/jquery-1.10.2.min.js"></script>
    <script src="/Scripts/knockout-3.4.0.js"></script>

    <script src="/Scripts/AdminGame/ViewLevelPage.js"></script>
</head>
<body>
    <div>
        <div>
            <span>Коментарий автора</span>
            <div>
                <textarea rows="5" data-bind="value: authorComment" class="form-control"></textarea>
            </div>
        </div>

        <div>
            <span>Время на уровень</span>
            <input type="text" class="form-control" placeholder="Время на уровень" data-bind="value: timeout" />
        </div>

        <div>
            <span>Задание</span>
            <div>
                <textarea rows="10" data-bind="value: textQuest" class="form-control"></textarea>
            </div>
        </div>

        Answer

        <div class="input-group" data-bind="foreach: questAnswers ">
            <div>
                <input type="text" class="form-control" placeholder="Ответ" data-bind="value: Answer" />
            </div>
        </div>

        <div>
            <button id="btn-save" data-bind="click: save">Сохранить</button>
        </div>
    </div>

    <script>
        window.gameId = @ViewBag.gameId;
        window.lvl = @ViewBag.lvl;
        loadPage();
        loadContent();
    </script>
</body>
</html>
