
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CommandPage</title>

    <script src="/Scripts/jquery-1.10.2.min.js"></script>
    <script src="/Scripts/knockout-3.4.0.js"></script>
    <script src="/Scripts/CommandPage.js"></script>
</head>
<body>
<div>

    <div class="add-player">
        <input type="text" id="player-name" placeholder="Логин игрока" data-bind="value: addNewPlayer"/>
        <button id="btn-add-player" data-bind="click: addPlayer">Добавить игрока</button>
    </div>

    <span>Название команды: @ViewBag.teamName</span>
    <br/>
    <span>@ViewBag.commander</span>
    <br/>
    <span>id команды: @ViewBag.teamId</span>
    
    <table>
        @{
            foreach (var name in ViewBag.playerName)
            {
                <tr><td>@name</td></tr>
            }
        }
    </table>
</div>

    <script>
        loadPage();
    </script>
</body>
</html>
