<script src="/Scripts/Command/CommandCreatePage.js"></script>
<h2>Введите название команды:</h2>
<input type="text" id="input-command-name" class="form-control" placeholder="Название команды" data-bind="value: inputNewCommandName" />
<button id="btn-create-command" data-bind="click: createCommand">Создать</button>

<script>
    loadPage();
</script>