
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Новая команда</title>
</head>
<body>
<div>
    <h2>Введите название команды:</h2>
    <input type="text" id="input-command-name" class="form-control" placeholder="Название команды" data-bind="value: inputCommandName" />
    <button id="btn-create-command" data-bind="click: createCommand">Создать</button>
</div>
</body>
</html>
