body {
    background-color: #f7f7f7;
    font-size: 15px;
}

#page-content {
    padding: 10px;
    display: table;
    margin: 0 auto;
}

#dark-bg {
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: rgba(0,0,0,0.5);
    display: none;
}

#login-block {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: darkslategrey;
    color: white;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.4);
    display: none;
}

#login-block > span {
    width: 100%;
    text-align: center;
    display: inline-block;
    margin-bottom: 10px;
}

#login-block > input {
    margin: 10px 0px;
}

#login-block > button {
    background-color: gray;
    color: white;
}

#menu-container {
    background-color: black;
    color: whitesmoke;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 2px;
}

#menu-container > ul, 
#menu-container > ul > li {
    display: flex;
    justify-content: flex-start;
}

#menu-container > ul {
    padding: 0;
    margin: 0;
}

#menu-container > ul > li {
    padding: 10px;
    cursor: pointer;
    transition: background-color .3s;
}

#menu-container > ul > li:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

.userPage > div {
    padding: 5px 0;
}
td, th {
    padding: 5px 10px;
}

table caption {
    margin: 10px 0;
}