body {
    background-color: #f7f7f7;
}

#page-content {
    padding: 10px;
}

#menu-container {
    background-color: black;
    color: whitesmoke;
    font-family: monospace;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 2px;
}

#menu-container > ul, 
#menu-container > ul > li {
    display: flex;
    justify-content: flex-start;
}

#menu-container > ul {
    padding: 0;
    margin: 0;
}

#menu-container > ul > li {
    padding: 10px;
    cursor: pointer;
    transition: background-color .3s;
}

#menu-container > ul > li:hover {
    background-color: rgba(255, 255, 255, 0.3);
}