<script src="/Scripts/User/Registration.js"></script>

<style>
    input {
        margin: 10px 0;
    }

    #page-content {
        min-width: 300px;
    }
</style>

<input type="text" id="user-login" class="form-control" placeholder="Логин" data-bind="value: userLogin" />
<input type="text" id="user-pass" class="form-control" placeholder="Пароль" data-bind="value: userPass" />
<input type="text" id="repet-user-pass" class="form-control" placeholder="Повт. пароль" data-bind="value: confirmUserPass" />
<input type="text" id="phone-number" class="form-control" placeholder="Номер телефона" data-bind="value: phoneNumber" />
<input type="text" id="email" class="form-control" placeholder="Эл. почта" data-bind="value: email" />
<button id="btn-create" class="btn btn-success btn-block" data-bind="click: createUser">Зарегистрироваться</button>

<script>
    loadPage();
</script>