<script src="/Scripts/Start/StartPage.js"></script>

<div>
    <button id="toAdminGame" data-bind="click: toAdminGame">Администратор игр</button>
</div>
<br>
<table border="1">
    <caption>Предстоящие игры</caption>
    <tr>
        <th>Название</th>
        <th>Дата начала</th>
    </tr>

    @{
        foreach (var tableRow in ViewBag.TableRows)
        {
            @Html.Raw(tableRow)
        }
    }

</table>

@*@{
        foreach (var name in ViewBag.playerName)
        {
            <tr><td>@name</td></tr>
        }
    }*@


<script>
    loadPage();
</script>