
@{
    ViewBag.Title = "StartPage";
}

<html>
<head>
    <title>@ViewBag.Title</title>

    <link href="/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="/Content/Site.css" rel="stylesheet" />

    <script src="/Scripts/jquery-1.10.2.min.js"></script>
    <script src="/Scripts/knockout-3.4.0.js"></script>
    <script src="/Scripts/cookie.js"></script>
    <script src="/Scripts/Start/StartPage.js"></script>
</head>

<body>
    <p>cookie["hash"].value = @ViewBag.cookieHash</p>
<div class="unknownUser">
    <button id="input-site" data-bind="click: authorizeUser">Вход на сайт</button>
    <input type="text" id="userLogin" class="form-control" placeholder="Логин" data-bind="value: userLogin"/>
    <input type="password" id="userPass" class="form-control" placeholder="Пароль" data-bind="value: userPass"/>
    <button id="registration" data-bind="click: createUser">Регистрация</button>
    <button id="command" data-bind="click: createUser">Регистрация</button>
    @*Возможно стоит сделать кнопку востановления пароля*@
</div>

<div class="User">
    <button id="toUserPage" data-bind="click: toUserPage">Моя страница</button>
    <button id="toUserTeam" data-bind="click: toUserTeam">МояКоманда</button>
</div>
    <br>
    <table border="1">
        <caption>Предстоящие игры</caption>
        <tr>
            <th>Название</th>
            <th>Дата начала</th>
        </tr>

        @{
            foreach (var tableRow in ViewBag.TableRows)
            {
                @Html.Raw(tableRow)
            }
        }

    </table>

    @*@{
        foreach (var name in ViewBag.playerName)
        {
            <tr><td>@name</td></tr>
        }
    }*@


<script>
    loadPage();
</script>
</body>
</html>

