
@{
    ViewBag.Title = "StartPage";
}

<html>
<head>
    <title>@ViewBag.Title</title>

    <link href="/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="/Content/Site.css" rel="stylesheet" />

    <script src="/Scripts/jquery-1.10.2.min.js"></script>
    <script src="/Scripts/knockout-3.4.0.js"></script>
    <script src="/Scripts/cookie.js"></script>
    <script src="/Scripts/StartPage.js"></script>
</head>

<body>
<div class="unknownUser">
    <p>СДЕЛАТЬ СОХРАНЕНИЕ ЛОГИНА В БАЗЕ В НИЖНЕМ РЕГИСТРЕ!!!</p>
    <button id="input-site" data-bind="click: authorizeUser">Вход на сайт</button>
    <input type="text" id="userLogin" class="form-control" placeholder="Логин" data-bind="value: userLogin"/>
    <input type="password" id="userPass" class="form-control" placeholder="Пароль" data-bind="value: userPass"/>
    <button id="registration" data-bind="click: createUser">Регистрация</button>
    <p>cookie["hash"].value = @ViewBag.cookieHash</p>
     @*Возможно стоит сделать кнопку востановления пароля*@ 
</div>

<div class="User">
    <button id="toUserPage" data-bind="click: toUserPage">Моя страница</button>
    <button id="toUserTeam" data-bind="click: toUserTeam">МояКоманда</button>
</div>
<script>
    loadPage();
</script>
</body>
</html>

