
@{
    ViewBag.Title = "UserPage";
}

<h2>UserPage</h2>

<html>
<head>
    <title>Игрок: "Логин"</title>
</head>
<body>
<div class="userPage">
    <div>
        <span>Имя: </span>
    </div>
    <div>
        <span>Фамилия: </span>
    </div>
    <div>
        <span>Номер телефона: </span>
    </div>
    <div>
        <span>Электронная почта: </span>
    </div>
    <div>
        <span>Дата рождения: </span>
    </div>
    <div>
        <span>Ссылка ВКонтакте: </span>
    </div>
    </div>
</body>
</html>

