
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Game</title>
</head>
<body>
    <div>
        <h2>Название Игры: </h2>
    </div>
    <div>
        <span>Автор(ы): </span>
    </div>
    <div>
        <span>последовательность игры: Линейная</span>
    </div>
    <div>
        <span>Минимальный пробег: 50км</span>
    </div>
    <div>
        <span>Начало игры: (дата начала)</span>
    </div>
    <div>
        <span>Время окончания игры: (время по автопереходу)</span>
    </div>
    <div>
        <h2>Информация об игре от авторов</h2>
    </div>
    <div>
        <span>Тут сама информация</span>
    </div>
    <button>Вход в игру</button>
</body>
</html>
