
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>NoGamePage</title>
</head>
<body>
<div>
    <span>@ViewBag.Message</span>
    <div>
        <a href="/Game/id=@ViewBag.gameId">Назад</a>
    </div>
    // TODO ссылка на инфу об игре
</div>
</body>
</html>
